.main{
    min-width:100vh;
    min-height:100vh;
    background-image: url("/assets/home.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation{
    margin-left:17%;
}

.navigation-spacer{
    width:2.5%;
    display:inline-block;
}

.main-content{
    margin-top:10%;
}

.how-icon{
    width:57px;
    height:55px;
}

.how-grid{
    margin-top:10%;
}

.dropzone{
    width:450px;
    height:200px;
    padding:2rem;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height:100%;
        top:0;
        left:0;
    }

    label {
        color:white;
        width:183px;
        border-radius: 21.5px;
        background-color: #570090;
        padding:8px 16px;
    }

    h3 {
        font-size:20px;
        font-weight:600;
        color: #38424c;
    }
}

.file-image{
    height:50px;
    width:50px;
}