<div class="Home">
	<div class="main">
		<div class="navigation inline pt-4">
			<a class="text-decoration-none text-white fs-3" href="#">Drop</a>
		</div>
		<div class="main-content text-center">
			<h1 class="display-2 text-white m-0">Avoid Discord's</h1>
			<h1 class="display-2 text-white m-0">file size limit.</h1>
			<div class="main-content-description mt-5">
				<p class="fs-6 m-0 text-white">Drop lets you quickly upload and share files</p>
				<p class="fs-6 m-0 text-white">with your friends without registration!</p>
				<p class="fs-6 m-0 text-white">The file size limit is 200 megabytes!</p>
			</div>
		</div>
	</div>
	<div class="main-upload mt-3">
		<h1 class="text-center">Give it a try!</h1>
		<div class="dropzone" fileDnd (fileDropped)="onFileDropped($event)">
			<input type="file" id="fileDropRef"/>
			<img class="file-image" src="assets/4341078.png" alt=""/>
			<h3>Drag and drop file here</h3>
			<h3>or</h3>
			<label for="fileDropRef">Browse for file</label>
		</div>
	</div>
	<br>
	<div class="main-how mt-3 text-center">
		<h1>How it works</h1>
		<img class="how-icon mt-3" src="assets/4341069.png"/>
    	<div class="p-text bg-light w-50 mx-auto mt-3">
	    	<p class="bg-light p-3">
				When you upload a document to Drop, you will receive
				a link that you can send to your friends and they will
				be able to download your document! The link will expire after an hour so
				we can keep the service free and functional for
				everyone. No registration is required and you can
				upload documents that are not larger than 200
				megabytes.
			</p>
    	</div>
    	<img class="how-icon mt-5" src="assets/595759.png"/>
    	<div class="p-text bg-light mt-3 w-50 mx-auto">
	    	<p class="bg-light p-3">
				Upon uploading a document, the document is encrypted and saved on the server. If a data breach happens, you can be sure your files cannot be accessed without the link you received.
			</p>
    	</div>
    	<br>
	</div>
	<div class="modal fade" id="linkModal" tabindex="-1" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">File successfully uploaded!</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <p>Link: <a style="color:#570090;" href="{{ fileLink }}">{{ fileLink }}</a></p>
	        <p>(This is the only time you'll get to see the link.)</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<footer class="mt-5 border-top text-center">
		<div class="container p-3">
			<div class="row">
				<div class="col">
					Made by Pavle Milanov
				</div>
				<div class="col"></div>
				<div class="col">
					<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
				</div>
			</div>
		</div>
	</footer>
</div>